.navbar {
  width: 100%;
  position: sticky;
  top: 0;
  height: 70px;
  padding: 0;
  background-color: #6B2D5C;
  color: #fff;
}

.navbar-contents {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 300px 0 100px;
}

#buy-now {
  background-color: #1e2a30;
  border-radius: 10%;
  padding: 15px;
}

.navbar-contents > div:hover {
  cursor: pointer;
}

.navbar-link {
  text-decoration: none;
  color: white;
  padding-bottom: 2px;
}

.active-link {
  border-bottom: 1px solid white;
}